<!-- <form method="POST" action="https://formspree.io/martinezmiro@gmail.com">
  <input type="email" name="email" placeholder="Tu email"></br>
  <textarea name="message" placeholder="Tu mensaje message"></textarea></br>
  <button type="submit">Enviar</button>
</form> -->

<!-- <form class="form" method="POST" action="https://formspree.io/martinezmiro@gmail.com">
  <fieldset class="form-group">
    <label for="username">TU NOMBRE:</label>
    <input id="username" type="text" placeholder="Escribe tu nombre..." class="form-control">
  </fieldset>
  <fieldset class="form-group">
    <label for="email">EMAIL:</label>
    <input id="email" type="email" name="email" placeholder="Tu email" class="form-control">
  </fieldset>
  <fieldset class="form-group form-textarea">
    <label for="message">MENSAJE:</label>
    <textarea id="message" name="message" rows="5" placeholder="Tu texto aquí" class="form-control"></textarea>
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-block">Enviar</button>
  </div>
</form> -->

<form name="contact" method="POST" netlify>
    <fieldset class="form-group">
    <label for="username">TU NOMBRE:</label>
    <input id="username" type="text" name="name" placeholder="Escribe tu nombre..." class="form-control">
  </fieldset>
  <fieldset class="form-group">
    <label for="email">EMAIL:</label>
    <input id="email" type="email" name="email" placeholder="Tu email" class="form-control">
  </fieldset>
  <fieldset class="form-group form-textarea">
    <label for="message">MENSAJE:</label>
    <textarea id="message" name="message" rows="5" placeholder="Tu texto aquí" class="form-control"></textarea>
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-block">Enviar</button>
  </div>
</form>