<form name="contact" method="POST" netlify>
    <fieldset class="form-group">
    <label for="username">TU NOMBRE:</label>
    <input id="username" type="text" name="name" placeholder="Escribe tu nombre..." class="form-control">
  </fieldset>
  <fieldset class="form-group">
    <label for="email">EMAIL:</label>
    <input id="email" type="email" name="email" placeholder="Tu email" class="form-control">
  </fieldset>
  <fieldset class="form-group form-textarea">
    <label for="message">MENSAJE:</label>
    <textarea id="message" name="message" rows="5" placeholder="Tu texto aquí" class="form-control"></textarea>
  </fieldset>
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-block btn-form">Enviar</button>
  </div>
</form>