{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
  </header>
<p>#Esta web pretende recopilar los álbumes que supusieron el antes y después en las vidas de amigxs músicxs y conocidxs.</p>

<p>Ese disco, esa canción, esas melodías, ritmos, riffs o gruñidos que despertaron algo en su interior, que supusieron la primera piedra sobre la que erigir una estructura sólida de gustos musicales que les acompañan y se refinan año tras año.</p>

<p>Ese camino iniciático que les guiará para siempre, que conformará sus carácteres, contribuirá a su manera de pensar y entender el mundo, que les llevará -con la pasión del auténtico fan- hasta el día de hoy, hasta el día de compartir sus gustos con nosotrxs.</p>
  {{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
    {{ partial "page-summary.html" . }}
  {{ end }}
{{ end }}
{{ define "footer" }}
  {{ partial "pagination.html" . }}
  {{ partial "powered-by.html" . }}
{{ end }}